<body>
<button class="btn-cerrar"><a href="#">Cerrar Sesion</a></button>
<div class="table-container">
  <section>
    <table class="table caption-top">
      <thead  class="borde">
      <tr>
        <th class="encabezado" scope="col">Codigo de empleado</th>
        <th class="encabezado" scope="col">Nombre</th>
        <th class="encabezado" scope="col">Apellido</th>
        <th class="encabezado" scope="col">Fecha de Nacimiento</th>
        <th class="encabezado" scope="col">DPI</th>
        <th class="encabezado" scope="col">Codigo del departamento</th>
        <th class="encabezado" scope="col">Codigo del puesto</th>
      </tr>
      </thead>
      <tr *ngFor="let empleado of empleados " >
        <th scope="row">{{empleado.idEmpleado}}</th>
        <td>{{empleado.nombre}}</td>
        <td>{{empleado.apellido}}</td>
        <td>{{empleado.fechaNacimiento |date:'yyyy-MM-dd'}}</td>
        <td>{{empleado.dpi}}</td>
        <td>{{empleado.departamentoIddepartamento}}</td>
        <td>{{empleado.puestoIdpuesto}}</td>
      </tr>
    </table>
  </section>
</div>
</body>
